// _variables.scss
// Define global variables for colors, typography, and spacing

// Colors
$color-primary: #FE3B01;
$color-primary-dark: #942300;

$color-black: #1F1F1F;
$color-gray: #626262;
$color-gray-1: #707070;




$color-white: #ffffff;
$color-white-1: #D3D3D3;

$manrope-regular: "Manrope-regular";
$manrope-bold: "Manrope-bold";
$rubik-regular: "Rubik-reuglar";
$rubik-bold: "Rubik-bold";